<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @learninguser.name %>
</p>

<%= link_to 'Edit', edit_learninguser_path(@learninguser) %> |
<%= link_to 'Back', learningusers_path %>
