<head>

<style>
.images{
 overflow: auto;
}

.pull-left{
 float: left;
}

.pull-right{
 float: right;
}

.hr{
 background-color: "#FF0000";
}
.main{
 overflow: auto;
 margin-bottom: 50px;
}

</style>

</head>
<div class="images">
  <div class="pull-left">  <%= image_tag('learningusers/headerlogo_left.jpg') %> </div>
  <div class="pull-right">  <%= image_tag('learningusers/headerlogo_right.jpg') %> </div>
</div>
  <div class="hr"> <Hr color="red" >   </div>
  <p><%= image_tag('learningusers/fkdlearningwebservice.jpg') %></p>
<div class="main"><%= yield %></div>
<div class="footer"><hr color="#C0C0C0" ></div>



